<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <script>
      const user = "<%= user.Name %>";
    </script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <script src="script/header.js" defer></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('../Home/Header.ejs') -%>
    <div class="Login">
      <div class="login-sd-lft">
        <h3>Sign up for free.</h3>
        <div class="google-auth-container">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/800px-Google_%22G%22_Logo.svg.png"
            width="30px"
            alt=""
          />
          <p>Signin with Google</p>
        </div>
        <div class="or-container">
          <div></div>
          <span>or</span>
          <div></div>
        </div>
        <div class="errormessage dplctac">
          <div class="errorcolor"></div>
          <p>
            Already have an account with this email , Try
            <a href="/login">Login</a>
          </p>
        </div>
        <form class="signupform">
          <div class="formcomponent">
            <label for="Email">Email</label>
            <div class="formdiv">
              <span class="material-symbols-outlined emaillogo"> mail </span>
              <input type="email" placeholder="Email" id="email" />
            </div>
            <div class="emailerrormessage errormessage">
              <span class="material-symbols-outlined"> error </span>
              <span>Required Valid Email</span>
            </div>
          </div>
          <div class="formcomponent">
            <label for="Phone">Phone</label>
            <div class="formdiv">
              <span class="emaillogo phonecode">91 (India)</span>
              <input type="text" placeholder="Phone number" id="phone" />
            </div>
            <div class="phoneerrormessage errormessage">
              <span class="material-symbols-outlined"> error </span>
              <span>Required Valid Phone number</span>
            </div>
          </div>
          <div class="formcomponent">
            <label for="Profile_name">What should we call you?</label>
            <div class="formdiv">
              <span class="material-symbols-outlined emaillogo"> person </span>
              <input type="text" placeholder="Profile name" id="username" />
            </div>
            <div class="profileerrormessage errormessage">
              <span class="material-symbols-outlined"> error </span>
              <span>Profile Name Required</span>
            </div>
          </div>
          <div class="formcomponent">
            <label for="Password">Password</label>
            <div class="formdiv">
              <span class="material-symbols-outlined emaillogo"> lock </span>
              <input type="password" placeholder="Password" id="password" />
            </div>
            <div class="passworderrormessage errormessage">
              <span class="material-symbols-outlined"> error </span>
              <span>Password must have minimum six characters</span>
            </div>
          </div>
          <div class="formcomponent">
            <label for="Password">Confirm password</label>
            <div class="formdiv">
              <span class="material-symbols-outlined emaillogo"> lock </span>
              <input
                type="password"
                placeholder="Confirm Password"
                id="passwordcfm"
              />
            </div>
            <div class="passrtsmerrormessage errormessage">
              <span class="material-symbols-outlined"> error </span>
              <span>Passwords are not same.</span>
            </div>
          </div>
          <div class="formbtn-container">
            <!-- <span class="forget">Forget password ?</span> -->
            <button onclick="signup()">Signup</button>
          </div>
        </form>
        <div class="lininsip">
          <h5>Already have an account ? <a href="/login">Login now</a></h5>
        </div>
      </div>
    </div>
    <%- include('VerifyCode.ejs') -%> <%- include('../Footer/MainFooter.ejs')-%>
  </body>
  <script>
    if (user) {
      window.location.assign("/");
    }
    let email = document.getElementById("email");
    document
      .getElementsByClassName("signupform")[0]
      .addEventListener("submit", (event) => {
        event.preventDefault();
      });

    const vrfyrequest = async () => {
      let vrfycode = document.getElementById("vrfycode").value;
      if (vrfycode) {
        await axios
          .post("/api/v1/tknvrfy", {
            email: email.value,
            tkn: vrfycode,
          })
          .then(() => {
            window.location.assign("/");
          })
          .catch(() => {
            document.getElementsByClassName("vrfymessage")[0].style.display =
              "flex";
          });
      } else {
        document.getElementsByClassName("vrfymessage")[0].style.display =
          "flex";
      }
    };

    const signupsender = async (
      username,
      email,
      phone,
      password,
      passwordcfm
    ) => {
      document.getElementsByClassName(
        "formbtn-container"
      )[0].innerHTML = `<div class="loading"></div>`;
      let phonecode = document
        .getElementsByClassName("phonecode")[0]
        .innerHTML.split(" ")[0];

      const request = await axios
        .post("/api/v1/signup", {
          username: username,
          email: email.value,
          password: password,
          phone: phonecode + phone,
          passwordcfm: passwordcfm,
        })
        .then(() => {

          let verification = document.getElementsByClassName("verifycode")[0];
          let verificationpanel =
            document.getElementsByClassName("verifybackground")[0];

          document.getElementsByClassName("user_email")[0].innerText =
            email.value;
          verification.style.display = "flex";
          verificationpanel.style.transition = "0.4s all ease-in";
          verificationpanel.style.transform = "translateX(0px)";
        })
        .catch(() => {
          document.getElementsByClassName("dplctac")[0].style.display = "flex";
          setTimeout(() => {
            document.getElementsByClassName("dplctac")[0].style.display =
              "none";
          }, 10000);
        });
      document.getElementsByClassName(
        "formbtn-container"
      )[0].innerHTML = `<button onclick="signup()">Signup</button>`;
      return request;
    };

    const signup = async () => {
      let emailcfm = validator.isEmail(email.value);
      let password = document.getElementById("password").value;
      let username = document.getElementById("username").value;
      let phone = document.getElementById("phone").value;
      let phonecfm = validator.isMobilePhone(phone, ["en-IN"]);
      let passwordcfm = document.getElementById("passwordcfm").value;
      if (!emailcfm || !password || !username || !phonecfm || !passwordcfm) {
        if (!emailcfm) {
          document.getElementsByClassName(
            "emailerrormessage"
          )[0].style.display = "flex";
          setTimeout(() => {
            document.getElementsByClassName(
              "emailerrormessage"
            )[0].style.display = "none";
          }, 2000);
        }
        if (!password) {
          document.getElementsByClassName(
            "passworderrormessage"
          )[0].style.display = "flex";
          setTimeout(() => {
            document.getElementsByClassName(
              "passworderrormessage"
            )[0].style.display = "none";
          }, 2000);
        }
        if (!username) {
          document.getElementsByClassName(
            "profileerrormessage"
          )[0].style.display = "flex";
          setTimeout(() => {
            document.getElementsByClassName(
              "profileerrormessage"
            )[0].style.display = "none";
          }, 2000);
        }
        if (!phonecfm) {
          document.getElementsByClassName(
            "phoneerrormessage"
          )[0].style.display = "flex";
          setTimeout(() => {
            document.getElementsByClassName(
              "phoneerrormessage"
            )[0].style.display = "none";
          }, 2000);
        }
        if (!passwordcfm) {
          document.getElementsByClassName(
            "passrtsmerrormessage"
          )[0].style.display = "flex";
          setTimeout(() => {
            document.getElementsByClassName(
              "passrtsmerrormessage"
            )[0].style.display = "none";
          }, 2000);
        }
        return;
      }
      if (password.length < 6) {
        document.getElementsByClassName(
          "passworderrormessage"
        )[0].style.display = "flex";
        setTimeout(() => {
          document.getElementsByClassName(
            "passworderrormessage"
          )[0].style.display = "none";
        }, 2000);
        return;
      } else {
        if (password === passwordcfm) {
          signupsender(username, email, phone, password);
        } else {
          console.log(email, passwordcfm);
          document.getElementsByClassName(
            "passrtsmerrormessage"
          )[0].style.display = "flex";
        }
      }
    };
  </script>
</html>
