<div class="verifycode">
  <div class="verifybackground">
    <!-- <span class="material-symbols-outlined tabcloser">
            close
        </span> -->
    <h5>Verification Code</h5>
    <p>
      We sent an verify code to
      <span
        class="user_email"
        style="color: rgba(255, 255, 255, 0.856); margin: 0px 0px 0px 4px"
      ></span
      >.
    </p>
    <input type="text" placeholder="Verification code" id="vrfycode" />
    <div class="vrfymessage errormessage">
      <span class="material-symbols-outlined"> error </span>
      <span>Incorrect verification code</span>
    </div>
    <div class="vifcbtn">
      <a href="/">Remind me later</a>
      <button onclick="vrfyrequest()">Submit</button>
    </div>
  </div>
</div>
