<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Skillkart</title>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600&display=swap");
      body {
        font-family: "Rethink Sans", sans-serif;
        margin: 20px;
        color: #333;
      }

      h2 {
        color: #3498db;
      }

      p {
        line-height: 1.6;
      }

      .signature {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td width="100%">
            <div style="max-width: 600px; margin: 0 auto; text-align: left">
              <table
                align="center"
                cellpadding="0"
                cellspacing="0"
                style="
                  border-spacing: 0;
                  margin: 0 auto;
                  padding: 10px;
                  width: 100%;
                  max-width: 600px;
                "
              >
                <tbody>
                  <tr>
                    <td>
                      <table
                        style="
                          width: 100%;
                          border-top: 1px solid black;
                          border-bottom: 1px solid black;
                          border-left: 1px solid black;
                          border-right: 1px solid black;
                          border-bottom-right-radius: 20px;
                          border-bottom-left-radius: 20px;
                        "
                      >
                        <tbody>
                          <tr
                            style="
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              padding: 20px 20px 20px 10px;
                            "
                          >
                            <td style="width: 100%; display: flex">
                              <img
                                src="https://www.skillkart.app/static/media/Logotrans.24b4f8e5f5f08c6af4d7.png"
                                alt="logo"
                                width="120"
                              />
                            </td>
                            <td>
                              <a
                                href="https://skillkart.app/login"
                                style="color: black; font-size: 18px"
                                >Login</a
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
                <tbody style="margin: 10px 0px; color: black">
                  <tr>
                    <td>
                      <table
                        style="
                          width: 100%;
                          padding: 15px 15px;
                          border-radius: 10px;
                        "
                      >
                        <tbody>
                          <tr style="display: flex; flex-direction: column">
                            <td>
                              <table style="width: 100%; height: 100%">
                                <tbody>
                                  <tr
                                    style="text-align: left; padding: 10px 20px"
                                  >
                                    <td>
                                      <p
                                        style="
                                          text-align: left;
                                          font-size: 17px;
                                          margin: 0px;
                                          font-weight: 600;
                                        "
                                      >
                                        Dear <%= username %>,
                                      </p>
                                    </td>
                                  </tr>
                                  <tr style="padding: 0px 10px">
                                    <td>
                                      <p
                                        style="
                                          font-weight: 600;
                                          font-size: 20px;
                                        "
                                      >
                                        Thank you for joining Skillkart 🥳🥳🥳
                                      </p>
                                      <p
                                        style="
                                          text-align: left;
                                          font-size: 17px;
                                        "
                                      >
                                        Your "go-to platform" for personalized
                                        learning and career advancement.
                                      </p>
                                      <p>
                                        To make the most of your experience, we
                                        encourage you to complete your profile.
                                      </p>
                                      <p>
                                        click to complete your profile 👇👇.
                                      </p>
                                      <a href="<%= url %>"
                                        ><p
                                          style="
                                            color: royalblue;
                                            font-size: 14px;
                                            text-decoration: underline;
                                          "
                                        >
                                          <%= url %>
                                        </p>
                                      </a>
                                      <p
                                        style="
                                          text-align: left;

                                          font-size: 17px;
                                          line-height: 25px;
                                        "
                                      >
                                        Completing your profile allows us to
                                        tailor our offerings to your specific
                                        needs and preferences. It also helps us
                                        match you with the right mentors,
                                        courses, and resources, ensuring a more
                                        personalized and effective learning
                                        journey.
                                      </p>
                                      <p
                                        style="
                                          font-weight: 600;
                                          font-size: 20px;
                                        "
                                      >
                                        Here are a few reasons why completing
                                        your profile is beneficial: 👇
                                      </p>
                                      <p
                                        style="
                                          font-weight: 600;

                                          font-size: 18px;
                                        "
                                      >
                                        1. Be Respectful:<span
                                          style="
                                            font-weight: 400;
                                            margin: 0px 7px;
                                          "
                                        >
                                          This platform provided to you as a
                                          respected and successful teacher.
                                        </span>
                                      </p>
                                      <p
                                        style="
                                          font-weight: 600;

                                          font-size: 18px;
                                        "
                                      >
                                        2. Financial benefits:<span
                                          style="
                                            font-weight: 400;
                                            font-size: 16px;
                                            margin: 0px 7px;
                                          "
                                        >
                                          Provided some financial benefits.
                                        </span>
                                      </p>
                                      <p
                                        style="
                                          font-weight: 600;

                                          font-size: 18px;
                                        "
                                      >
                                        3. Develop Leadership and Management
                                        Skills:<span
                                          style="
                                            font-weight: 400;
                                            font-size: 16px;
                                            margin: 0px 7px;
                                          "
                                        >
                                          Engaging with this platform presents a
                                          unique opportunity for you to develop
                                          and showcase your leadership and
                                          management skills in the field of
                                          education. As a respected
                                          professional, your journey here goes
                                          beyond being an educator; it's a
                                          chance to step into leadership roles,
                                          shape educational initiatives, and
                                          refine your management capabilities.
                                        </span>
                                      </p>
                                      <p
                                        style="
                                          font-weight: 600;

                                          font-size: 18px;
                                        "
                                      >
                                        4. Expand Your Network:<span
                                          style="
                                            font-weight: 400;
                                            margin: 0px 7px;
                                            font-size: 16px;
                                          "
                                        >
                                          Expanding your network on this
                                          platform is an invaluable opportunity
                                          to connect with a diverse and dynamic
                                          community of educators, professionals,
                                          and learners.
                                        </span>
                                      </p>
                                      <p
                                        style="
                                          text-align: left;
                                          margin-top: 10px;
                                          font-size: 17px;
                                          line-height: 25px;
                                        "
                                      >
                                        Our platform is designed to provide a
                                        comprehensive and interactive learning
                                        experience, with resources and tools
                                        that are tailored to the specific needs
                                        of our mentees. You will have access to
                                        a wide range of resources, as well as
                                        the ability to engage with mentees in
                                        real-time and provide feedback and
                                        guidance as they work through the
                                        course.
                                      </p>
                                      <p
                                        style="
                                          text-align: left;

                                          font-size: 17px;
                                          line-height: 25px;
                                        "
                                      >
                                        We are committed 🙏🏻 to providing you
                                        with the tools and resources you need to
                                        be successful on Skillkart. Our team is
                                        here to support you every step of the
                                        way, and we encourage you to reach out
                                        to us with any questions or concerns you
                                        may have.
                                      </p>
                                      <p
                                        style="
                                          text-align: left;
                                          font-weight: 600;
                                          font-size: 17px;
                                        "
                                      >
                                        Again, welcome to the Skillkart
                                        community. We look forward to working
                                        with you and helping our mentees succeed
                                        in their job interviews and advance
                                        their careers.
                                      </p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <p
                                        style="
                                          font-size: 17px;
                                          margin: 10px 0px 0px 0px;
                                        "
                                      >
                                        Best regards,
                                      </p>
                                      <p
                                        style="
                                          font-size: 15px;
                                          font-weight: 600;
                                          margin: 0px;
                                        "
                                      >
                                        Skillkart Team
                                      </p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
