<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skillkart | Terms of Use</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('../Home/Header') -%>
    <div class="toc">
      <div class="toc-container">
        <div class="toc-title">The Company</div>
        <div class="toc-para">
          The Study cart is a Education service brand operating under the co.
          Addensure Media LLP registered under LLP act 2008.
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Skillkart</div>
        <div class="toc-para">
          Skillkart provides an online platform for students to prepare for the
          soft skills through the industry mentors. It’s an one to one learning
          and mentoring session where students learn the other skill then
          technical. Student gets to know his behavioral, emotional, and
          intelligence quotient to be well prepared for his professional career.
          Our Aim is to provide the best mentorship for young patrons of India
          from Industry experts in various domains of specialized fields in
          competitive career building.
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Acceptance of Terms</div>
        <div class="toc-para">
          Skill provides the services as defined above through it’s online
          property i.e. website www.skillkart.app and in future through mobile
          app. By creating profile and login in in to Skillkart.app, you
          acknowledge that you have read, understood and agreed to be bound of
          our terms. If you do not agree with the terms of our policy you must
          not accept the service policies and do not use the services.
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Change in the Terms</div>
        <div class="toc-para">
          Skillkart.app (Addesnure Media) owns the right of changing the policy
          as per the company internal policy to provide and maintain the legal
          binding and improvement of services.
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Terms Of Services</div>
        <div class="toc-para">
          This agreement is between Skillkart.app (Primary Owner Addensure Media
          LLP) and its clients. Candidates and mentors who want to be a part of
          Skillkart.app and its services comprise the client-side. Unless the
          context requires otherwise, skillkart.app and/or its assigns shall be
          referred to as "us, we, or our" and you shall be referred to as "you
          or your"
          <ul>
            <li>
              You will not hold skillkart.app, its officers, editors, and
              representatives liable for any denied admissions to any graduate
              or professional program or school or any denial of employment.
            </li>
            <li>
              We have made NO contract or a written clause about what our
              service will do for your chances of admission to any graduate or
              professional school or program at any institution, corporation,
              business, or government agency.
            </li>
            <li>
              Skillkart.app disclaims any implied or express warranties,
              including but not limited to, the essays', resumes’, interviews’
              and your fitness for any job or graduate or professional program
              after the conclusion of the service.
            </li>
            <li>
              If you are an assignee by skillkart.app to deliver skillkart.app’s
              services, you are responsible for the justification or
              clarification to your authority underneath whose terms and
              conditions you might have be subject to, should such scenario
              occur.
            </li>
            <li>
              skillkart.app never encouraged, suggested or implied to overlook
              if you are being subjected to violating any already acting
              external clauses or contracts.
            </li>
          </ul>
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Ownership of Content and Copyright</div>
        <div class="toc-para">
          All website, Mobile app, Microsite,Social media presence, graphics,
          podcast, webinar and interview recordings and content being provided
          in any owned digital platform of Skillkart.app are the property of
          Addensure Media LLP. By accepting the the services you authorise to
          own, manage and use the data to improve, analyse and provide you the
          updates of our regular business activities. The permission to use the
          information given in our platforms such as Website mobile app and
          others are granted subject to the bounded guidelines under the
          policies of Skillkart.app. Any data downloaded or provided in soft
          copy format to mentors or students remain be bounded with TOC of this
          document.
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Privacy Policy</div>
        <div class="toc-para">
          We energize our clients and enrolled individuals to communicate with
          us and in addition to each other. Over the span of utilizing or
          benefiting our Site, we may wind up noticeably conscious of your own
          data, including data that is of a classified sort. We are conferred in
          ensuring the security and individual data of each such individual who
          visits the Site. Your security is imperative to us and we endeavour to
          take sensible care and assurance of the individual data we get from
          you.
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Individual Data</div>
        <div class="toc-para">
          Keeping in mind the end goal to get to the Site or to wind up
          noticeably an individual from the Site or to profit certain elements
          of the Site, we may require certain data not constrained to your age,
          sexual orientation, contact number, email or other contact data and
          other significant information as might be required by us (“Individual
          Data”).
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Use of Individual Data</div>
        <div class="toc-para">
          We utilize your Own Data analytics tools to recognize you from
          different clients and to offer customized administrations to you. We
          may utilize your own data to: Look for your input or to get in touch
          with you in connection with the items and administrations offered on
          the Site; To handle requests or applications put together by you; Send
          you, every now and then, updates or commercials, Enable you to
          subscribe to our product and services, newsletter, marketing material
          and company policy update you of any progressions to the Site, or to
          send you extra data about us or the Site; React to subpoenas, court
          orders, or lawful process, or to build up or practice our legitimate
          rights or protect against lawful cases; Ensure and shield the rights
          or property of skillkart.com or the clients of the Site; to explore,
          avert, or make a move with respect to unlawful exercises, suspected
          misrepresentation, circumstances including potential dangers to the
          physical well-being of any individual, infringement of the Site or any
          strategies thereof or as generally required by law; Exchange data
          about you on the off chance that we are obtained by or converged with
          any organization or substance; Control or generally do our commitments
          in connection to any understanding you have with us; and Enable you to
          enter advancements or sweepstakes, assuming any. We may likewise
          evacuate all the actually identifiable data and utilize the rest for
          authentic, factual or logical purposes.
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Non-Individual Data and its utilization</div>
        <div class="toc-para">
          We may likewise record and store the points of interest, time and span
          of your messages or demands and visits on the Site, including the
          space name and the name of the page from which you entered the Site or
          any site pages thereof, working framework and stage of your cell
          phone, pages saw, data scanned for or asked for and other significant
          insights and the alternatives you select, each time you utilize the
          Site. We will utilize such data for the reasons for enhancing the
          execution and operations of our Site and pull in sponsors and postings
          for our Site.
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Approval</div>
        <div class="toc-para">
          You approve us to trade, share, part with all data (Individual and
          Non-Individual), crosswise over fringes and from your nation and ward
          to some other nations and locales over the world, with any operator,
          third party websites, or any specialist organization as might be
          required by law, standard practice, factual investigation and
          confirmation or hazard administration and should not hold us at risk
          for utilize, stockpiling or exposure of this data.
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Payment, refund and cancellation</div>
        <div class="toc-para">
          The services are available at the plan/packages launched and decided
          by skillkart.app , The prices of plans, services, are subject to
          change. There could be introductory, promotional offers, discounts
          which may discontinue. Our payment structure for Mentors/tutors/or
          Industry partners may vary according to skills, experience time
          commitment and others parameters decided by skillkart.app. We
          acknowledge the remittance of payments inward and outward.
        </div>
      </div>
      <div class="toc-container">
        <div class="toc-title">Cancellation</div>
        <div class="toc-para">
            - You are responsible for properly cancelling your account. The account owner (as defined in the registration procedure) can cancel the account at any time by sending a mail to us. All of your content will be immediately deleted from the Service upon cancellation. This information cannot be recovered once your account is cancelled. If You cancel the Service after completing the payment, there will be no refund allowed and if an account is deactivated before you consume the service amount will not be refunded. Skillkart.app owns the right to modify, discontinue, the services, packages temporarily or permanently. In that case the right of fee remains with the Skillkart.app.
        </div>
      </div>
    </div>
    <%- include('../Footer/MainFooter') -%>
  </body>
</html>
