<div class="Newsletter">
  <div class="newsletter-container">
    <div class="newsletter-container-top">
      <div class="inbox-close">
        <span class="material-symbols-outlined"> close </span>
      </div>
      <span class="material-symbols-outlined inbox"> mail </span>
    </div>
    <div class="newsltr-cntner-info">
      <h2>SUBSCRIBE</h2>
      <P>Subscribe to our newsletter and stay tunned</P>
      <div class="newsletter-int">
        <input type="text" placeholder="Email" />
        <button>Subscribe</button>
      </div>
    </div>
  </div>
</div>
