<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <div style="max-width: 600px; margin: 0px auto; text-align: center">
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            style="
              border-spacing: 0;
              font-family: gt-eesti, ArialMT, Helvetica, Arial, sans-serif;
              margin: 0 auto;
              padding: 24px;
              width: 100%;
              max-width: 600px;
            "
          >
            <tbody>
              <tr>
                <td>
                  <table style="width: 100%">
                    <tbody style="width: 100%">
                      <tr
                        style="
                          width: 100%;
                          display: flex;
                          align-items: center !important;
                          justify-content: space-between !important;
                          padding: 5px 0px 20px 0px;
                        "
                      >
                        <td style="width: 100%; display: flex">
                          <img
                            src="https://skillkart.app/static/media/log.31e5f9e96bf89941fe15.jpeg"
                            alt="logo"
                            width="130"
                          />
                        </td>
                        <td>
                          <a
                            href="https://skillkart.app/login"
                            style="color: black; font-size: 18px"
                            >Login</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
            <tbody style="margin: 10px 0px">
              <tr>
                <td>
                  <table
                    style="
                      width: 100%;
                      padding: 15px 15px;
                      background-color: azure;
                      border-radius: 10px;
                    "
                  >
                    <tbody style="width: 100%">
                      <tr
                        style="
                          width: 100%;
                          display: flex;
                          flex-direction: column !important;
                        "
                      >
                        <td>
                          <tr>
                            <table style="width: 100%; height: 100%">
                              <tbody>
                                <tr
                                  style="
                                    width: 100%;
                                    text-align: left;
                                    padding: 10px 20px;
                                  "
                                >
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 10px 20px 0px 20px !important;
                                      font-size: 17px;
                                      margin: 0px !important;
                                    "
                                  >
                                    Dear <%= username %>,
                                  </p>
                                </tr>
                                <tr>
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 0px 20px !important;
                                      font-size: 15px;
                                      font-family: -apple-system,
                                        '.SFNSText-Regular', 'San Francisco',
                                        'Roboto', 'Segoe UI', 'Helvetica Neue',
                                        'Lucida Grande', sans-serif;
                                      line-height: 25px;
                                    "
                                  >
                                    Welcome to Skillkart - an AI-enabled
                                    interview preparation platform! We are
                                    thrilled to have you join our community of
                                    experts, educators, and learners.
                                  </p>
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 0px 20px !important;
                                      font-family: -apple-system,
                                        '.SFNSText-Regular', 'San Francisco',
                                        'Roboto', 'Segoe UI', 'Helvetica Neue',
                                        'Lucida Grande', sans-serif;
                                      font-size: 15px;
                                      line-height: 25px;
                                    "
                                  >
                                    As a mentor on our platform, you will be
                                    playing a vital role in helping our mentees
                                    excel in their job interview preparation for
                                    technical and HR rounds. With the help of
                                    our AI-powered tools, you will be able to
                                    provide personalized support and guidance to
                                    mentees, helping them identify areas of
                                    strength and weakness, and work on improving
                                    their performance in job interviews.
                                  </p>
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 0px 20px !important;
                                      font-family: -apple-system,
                                        '.SFNSText-Regular', 'San Francisco',
                                        'Roboto', 'Segoe UI', 'Helvetica Neue',
                                        'Lucida Grande', sans-serif;
                                      font-size: 15px;
                                      line-height: 25px;
                                    "
                                  >
                                    Our platform is designed to provide a
                                    comprehensive and interactive learning
                                    experience, with resources and tools that
                                    are tailored to the specific needs of our
                                    mentees. You will have access to a wide
                                    range of resources, as well as the ability
                                    to engage with mentees in real-time and
                                    provide feedback and guidance as they work
                                    through the course.
                                  </p>
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 0px 20px !important;
                                      font-family: -apple-system,
                                        '.SFNSText-Regular', 'San Francisco',
                                        'Roboto', 'Segoe UI', 'Helvetica Neue',
                                        'Lucida Grande', sans-serif;
                                      font-size: 15px;
                                      line-height: 25px;
                                    "
                                  >
                                    We are committed to providing you with the
                                    tools and resources you need to be
                                    successful on Skillkart. Our team is here to
                                    support you every step of the way, and we
                                    encourage you to reach out to us with any
                                    questions or concerns you may have.
                                  </p>
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 0px 20px !important;
                                      font-family: -apple-system,
                                        '.SFNSText-Regular', 'San Francisco',
                                        'Roboto', 'Segoe UI', 'Helvetica Neue',
                                        'Lucida Grande', sans-serif;
                                      font-size: 15px;
                                      line-height: 25px;
                                    "
                                  >
                                    Again, welcome to the Skillkart community.
                                    We look forward to working with you and
                                    helping our mentees succeed in their job
                                    interviews and advance their careers.
                                  </p>
                                </tr>
                                <tr>
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 10px 20px !important;
                                      font-size: 15px;
                                      font-family: -apple-system,
                                        '.SFNSText-Regular', 'San Francisco',
                                        'Roboto', 'Segoe UI', 'Helvetica Neue',
                                        'Lucida Grande', sans-serif;
                                      margin: 10px 0px 0px 0px;
                                    "
                                  >
                                    Best regards,
                                  </p>
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 3px 20px !important;
                                      font-size: 15px;
                                      font-family: -apple-system,
                                        '.SFNSText-Regular', 'San Francisco',
                                        'Roboto', 'Segoe UI', 'Helvetica Neue',
                                        'Lucida Grande', sans-serif;
                                      margin: 0px !important;
                                    "
                                  >
                                    Skillkart Team
                                  </p>
                                </tr>
                                <tr></tr>
                              </tbody>
                            </table>
                          </tr>
                        </td>
                        <td style="margin: 10px 0px"></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
