<div class="profilecontainerheader">
  <div class="profilecontainericon active">
    <span class="material-symbols-outlined"> dashboard </span>
    Dashboard
  </div>
  <a href="/profile/profile"
    ><div class="profilecontainericon" onclick="toprofile()">
      <span class="material-symbols-outlined"> person</span>
      Profile
    </div></a
  >
  <div class="profilecontainericon">
    <span class="material-symbols-outlined"> receipt_long </span>
    Transcation
  </div>
  <div class="profilecontainericon">
    <span class="material-symbols-outlined"> receipt_long </span>
    Your Menties
  </div>
  <div class="profilecontainericon" >
    <span class="material-symbols-outlined"> logout </span>
    Logout
  </div>
</div>
