<div class="home-blog-cnt">
  <div class="home-blog-cnt-img">
    <img src="<%= image %>" width="100%" alt="" />
  </div>
  <div class="home-blog-cnt-text">
    <div class="home-blog-cnt-title"><%= title %></div>
    <div class="home-blog-cnt-paragraph">
      For any student’s career objective campus placement is a very important
      event, It is the first step in one’s professional life ahead.
    </div>
    <a href="http://localhost:3000/blog/<%= title %>">Read full Blog</a>
  </div>
</div>
